.button {
  background: $orange;
  font-family: Josefin Sans, Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: none;
  color: white;
  display: inherit;
  font-size: $font-size-large;
  font-weight: 300;
  height: 36px;
  padding: $s-size;
  text-decoration: none;
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
}

.button--secondary {
  background: #888;
}

.button--submit {
  text-align: center;
  margin: 0 auto;
}

.button--header {
  background: none;
  font-family: Josefin Sans, Helvetica, Arial, sans-serif;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  border: none;
  line-height: 20px;
  text-decoration: none;
  margin: 0 20px 10px;
}