// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #1f365e;
$off-white: rgb(241, 233, 220);
$brown: rgb(79, 61, 36);
$orange: rgb(255, 176, 72);
$red: rgb(254, 220, 220);
$light-red: rgba(254, 220, 220, 0.75);
$creme: rgba(244, 237, 227, 0.5);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
